# Programming Assignment 4
## Noah Clark
### 1.0
#### CS-150-02

In [34]:
numbers=[23,56,45,89,234,9,25,19,15,21,22]

#### Append: Adds a specified item to the end of the list

In [11]:
print(numbers)
numbers.append(50)
print(numbers)

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]
[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22, 50]

#### Extend: Adds the elements from another tuple or list on the end of the other list

In [18]:
numbers2=[5,10,15]
print(numbers)
numbers.extend(numbers2)
print(numbers)

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]
[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22, 5, 10, 15]

#### Insert: Inserts an element in the desired spot in a list

In [20]:
print(numbers)
numbers.insert(5,999999)
print(numbers)

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]
[23, 56, 45, 89, 234, 999999, 9, 25, 19, 15, 21, 22]

#### Remove: Removes the desired element from the list

In [23]:
print(numbers)
numbers.remove(9)
print(numbers)

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]
[23, 56, 45, 89, 234, 25, 19, 15, 21, 22]

#### Count: Tells how many times the specified element comes up in a list

In [25]:
print(numbers)
count=numbers.count(15)
print(count)

[23, 56, 45, 89, 234, 25, 19, 15, 21, 22]
1

#### Index: Gives the index of the specified item in the list

In [26]:
print(numbers)
position=numbers.index(45)
print(position)

[23, 56, 45, 89, 234, 25, 19, 15, 21, 22]
2

#### Pop: When given an index number, it takes out the element at that index number

In [27]:
print(numbers)
removed=numbers.pop(2)
print(removed)

[23, 56, 45, 89, 234, 25, 19, 15, 21, 22]
45

#### Sort: Sorts the elements in order from least to greatest

In [28]:
print(numbers)
numbers.sort()
print(numbers)

[23, 56, 89, 234, 25, 19, 15, 21, 22]
[15, 19, 21, 22, 23, 25, 56, 89, 234]

#### Copy: Copies the list

In [30]:
print(numbers)
numbers2=numbers.copy()
print(numbers2)

[15, 19, 21, 22, 23, 25, 56, 89, 234]
[15, 19, 21, 22, 23, 25, 56, 89, 234]

#### Clear: Removes all the elements from the list

In [31]:
print(numbers)
numbers.clear()
print(numbers)

[15, 19, 21, 22, 23, 25, 56, 89, 234]
[]

#### Any: Returns True if any element in the list is True

In [32]:
answers=["False", "True", "True"]
student=any(answers)
print(student)

True

#### Filter: Filters out elements that are not true using a set condition

In [37]:
print(numbers)
def odd(number):
    if number % 2==1:
        return number
list(filter(odd,numbers))

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]

[23, 45, 89, 9, 25, 19, 15, 21]

#### List: Converts a string to a list

In [39]:
name="Kanye West"
print(name)
letters=list(name)
print(letters)

Kanye West
['K', 'a', 'n', 'y', 'e', ' ', 'W', 'e', 's', 't']

#### Map: Uses a function on every element in the list

In [43]:
print(numbers)
def add(number):
    return number+10
list(map(add,numbers))

[23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22]

[33, 66, 55, 99, 244, 19, 35, 29, 25, 31, 32]

#### Cmp: Uses -1, 0, and 1 to compare integers(-1 means the first integer is less than the second, 1 means the first integer is greater than the second, and 0 means they are equal)

In [52]:
numbers1,numbers2 =(45, 67, 54, 2003, 2021, 45, 50), (78, 54, 42, 2004, 2018, 65, 12)
print(cmp(numbers1, numbers2))

NameError: name 'cmp' is not defined

#### Len: Returns the number of items in the tuple

In [53]:
numbers=(45, 67, 54, 2003, 2021, 45, 50)
amount=len(numbers)
print(amount)

7

#### Max: Returns the largest number in the tuple

In [54]:
numbers=(45, 67, 54, 2003, 2021, 45, 50)
maximum=max(numbers)
print(maximum)

2021

#### Tuple(seq): Converts a list or sequence into a tuple

In [55]:
numbers=[23,56,45,89,234,9,25,19,15,21,22]
tuple=tuple(numbers)
print(tuple)

(23, 56, 45, 89, 234, 9, 25, 19, 15, 21, 22)